@use "../utils" as *;

.wrapper {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }

  @include breakpoint(small) {
    main {
      grid-template-columns: repeat(1, 1fr);
      gap: rem(40);
    }
  }
}
